/*font-family: 'Cookie', cursive;
font-family: 'Open Sans', sans-serif;*/

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: #F7F7D4;
}


header {
    width: 100%;
    height: 10vh;

}


nav {
    background-image: url(../img/wall-1846841_1920.jpg);
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
}



nav ul li {

    list-style: none;
    line-height: 10vh;
    padding-left: 150px;
    float: left;
    margin: 0 auto;
    overflow: hidden;

}



nav ul li a {

    margin: 0 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(23, 9, 9);
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    transition: .7s;


}


.name {

    font-size: 40px;
    font-family: 'Cookie', cursive;


}

nav ul li a:hover {
    cursor: pointer;
    border: 2px solid black;
    background-color: rgba(69, 65, 65, 0.2);
    border-color: bisque;
    color: bisque;

}

.name:hover {
    border: none;
    background-color: transparent;
    color: black;


}


main {
    max-width: 1240px;
    margin: 55px auto;
}



.biophoto {
    width: 100%;
    margin: 20px auto;
    border-radius: 5px;
}


.hbiografia {

    padding: 20px 10px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
}


.biografia {
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    margin-top: 90px;

}

.biografia p {
    margin-top: 20px;
}

.stanislaw {
    font-weight: 700;
}

footer {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    padding: 5px 0;
    margin-top: 5vh;
}

@media (max-width: 1025px) and (orientation: portrait) {

    .name {
        font-size: 50px;
    }

    nav ul li {
        padding-left: 40px;
    }


    nav ul li a {

        font-size: 25px;
    }
    

    main {
        max-width: 900px;
        margin: 40px auto;
    }

    .biografia p {
        font-size: 20px;
    }

    footer {

        font-size: 15px;
    }

}

@media (max-width: 769px) and (orientation: portrait) {

  
    nav ul li {
        padding-left: 10px;
    }

    .name {
        font-size: 40px;
    }


    nav ul li a {

        font-size: 20px;
    }




    main {
        max-width: 650px;
        margin: 40px auto;
    }

    .biografia p {
        font-size: 18px;
    }

    footer {

        font-size: 12px;
    }

}


@media (max-width: 1367px) and (orientation: landscape) {


    .name {
        font-size: 50px;
    }

    nav ul li {
        padding-left: 100px;

    }


    .biografia p {
        font-size: 20px;
    }

    footer {

        font-size: 15px;
    }

}


@media (max-width: 1025px) and (orientation: landscape) {

     nav ul li {
        padding-left: 60px;
    }


    nav ul li a {

        font-size: 20px;
    }


    main {
        max-width: 900px;

    }
    
    footer {
        font-size: 12px;
    }

}

@media (max-width: 415px) and (orientation: portrait) {


    header {
        height: 20vh;
    }

    nav {

        height: 20vh;

    }

    .contactlast {
        padding-left: 50px;
    }

    .name {
        font-size: 25px;
    }

    nav ul li a {
        font-size: 20px;
    }

    main {
        max-width: 360px;
    }

    .hbiografia {
        font-size: 35px;
    }

    .biografia p {
        font-size: 12px;
    }

    footer {
        font-size: 10px;
    }
}

@media (max-width: 737px) and (orientation: landscape) {

    .name {
        font-size: 30px;

    }

    nav ul li {
        padding-left: 20px;
    }
    nav ul li a {
        font-size: 14px;

    }

    .hbiografia {
        font-size: 35px;
    }

    .biografia p {
        font-size: 12px;
    }

    main {
        max-width: 650px;
    }

    footer {
        font-size: 10px;
    }
}

@media (max-width: 376px) and (orientation: portrait) {

    main {
        max-width: 300px;
    }

    .biografia p {
        font-size: 10px;
    }

    footer {
        font-size: 8px;
    }

}

@media (max-width: 813px) and (orientation: landscape) {


    main {
        max-width: 750px;
    }


    .hbiografia {
        font-size: 30px;
    }
    .biografia p {
        font-size: 12px;
    }
}

@media (max-width: 737px) and (orientation: landscape) {

    main {
        max-width: 700px;
    }

}

@media (max-width: 668px) and (orientation: landscape) {

    .name {
        font-size: 25px;

    }

    nav ul li {
        padding-left: 15px;
    }
    nav ul li a {
        font-size: 15px;

    }

    main {
        max-width: 600px;
    }

    .hbiografia {
        font-size: 25px;
    }
    .biografia p {
        font-size: 10px;
    }

}


    @media (max-width: 569px) and (orientation: landscape) {


    nav ul li a {

        font-size: 12px;
    }

    .name {
        font-size: 20px;
        padding-left: 10px;
    }

    .photoContact {
        width: 23vw;

    }


    .contact1 h1 {

        font-size: 28px;
    }

    .contact1 a {
        font-size: 8px;
    }



    main {
        max-width: 500px;
    }

    .biografia {

        margin-top: 60px;

    }
}

@media (max-width: 321px) and (orientation: portrait) {
    .name {
        font-size: 20px;

    }

    nav ul li a {

        font-size: 13px;

    }


}

@media (max-width: 824px) and (orientation: landscape) {
.name {
        font-size: 30px;

    }


    nav ul li {
        padding-left: 15px;
    }


    main {
        max-width: 760px;
    }


    .biografia {

        margin-top: 40px;

    }

    .hbiografia {
        font-size: 30px;
    }
    .biografia p {
        font-size: 12px;
    }

    footer {
        font-size: 8px;
    }

}

@media (max-width: 732px) and (orientation: landscape) {

    .name {
        font-size: 30px;

    }


    nav ul li {
        padding-left: 15px;
    }

    main {
        max-width: 700px;
    }


    .biografia {

        margin-top: 30px;

    }

    .hbiografia {
        font-size: 30px;
    }
    .biografia p {
        font-size: 12px;
    }

    footer {
        font-size: 8px;
    }

}

@media (max-width: 641px) and (orientation: landscape) {

    .name {
        font-size: 25px;

    }


    main {
        max-width: 580px;
    }


    .biografia {

        margin-top: 30px;

    }

    .hbiografia {
        font-size: 30px;
    }
    .biografia p {
        font-size: 12px;
    }

    footer {
        font-size: 8px;
    }

}

@media (max-width: 534px) and (orientation: landscape) {

    .name {
        font-size: 20px;

    }
    nav ul li {
        padding-left: 0;
    }

    nav ul li a {

        font-size: 13px;
    }


    main {
        max-width: 480px;
    }

    .hbiografia {
        font-size: 25px;
    }
    .biografia p {
        font-size: 10px;
    }

}

@media (max-width: 361px) and (orientation: portrait) {
    
    .hbiografia {
        
        font-size: 30px;
       
    }
     
    
}

